html, body{
    height: 100%;
    background-color: blue;
  }
  
  body{
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
  }
  /*-webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;*/
  canvas{
    background: black;
    font-size: 2vw;
    box-shadow: 1em 1em 0.5em rgba(0, 0, 0, 0.25);
    outline: 1px solid white;
    outline-offset: -2px;
  }